a:hover {
    /* TODO togliere forse? */
    color: #000;
}

.text-custom-gold {
    color: #AA8539;
}

.text-custom-lgold {
    color: #D4B26A;
}

.bg-custom-gold {
    background-color: #AA8539;
}

.bg-custom-lgold {
    background-color: #D4B26A;
}

.bg-custom-blue {
    background-color: #2E4272;
}

.bg-custom-lblue {
    background-color: #4F618f;
}

.bg-custom-gold-hover:hover {
    background-color: #AA8539;
}

.bg-custom-lgold-hover:hover {
    background-color: #D4B26A;
}

.bg-custom-blue-hover:hover {
    background-color: #2E4272;
}

.bg-custom-lblue-hover:hover {
    background-color: #4F618f;
}

.btn-custom-lgold {
    background-color: #D4B26A;
    color: #000;
    border: none;
}

.btn-custom-lgold:hover {
    background-color: #805D15;
    color: #000;
}

.btn-custom-gold {
    background-color: #AA8539;
    color: #000;
    border: none;
}

.btn-custom-gold:hover {
    background-color: #805D15;
    color: #000;
}


.rm-border {
    border: none;
}

.img-preview-size {
    max-width: 200px;
    max-height: 200px;
}

.user-avatar-size {
    width: 40px;
    height: 40px;
}

.button-size {
    width: 40px;
    /* per larghezza bottoni consistenti */
}
